* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: antiquewhite;
  background: url("../images/bg.png") no-repeat center top;
  background-size: cover;
}